/*第二个注册页面*/
body{
	background: #fff;
}
#retrievepassword{background: #fff;}
.content{
	height: 100%;
	padding:12px;
	background: #fff;
}
.toplist{
    /*height: 135px;*/
    border: 1px solid #C0C0C0;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px;
}
.chooselist{
	margin-left:-15px;
}
.bottomlist{
	border: 1px solid #C0C0C0;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px;
}
.bindingbtn{
	background: #007aff;
	margin-top: 20px;

}
.toplist .mui-input-row .mobileInpt+.mui-icon{right:16%}
