/*账号绑定页面*/



.mui-input-row .VerificationInpt+.mui-icon{right:34%}
.mui-input-mobile{
	background:url(../../images/wechat_login3.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.mui-input-password{
	background:url(../../images/wechat_login2.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}

.VerificationInpt{
	background:url(../../images/wechat_login4.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.btnContent .mui-btn1{
    width: 120px;
    height: 40px;
    display: inline-block;
    float: right;
    color: #fff;
    background: #4481e6;
}

.binding .bindingbtn{
    color: #fff;
    background: #4481e6;
}



