/*账号绑定页面*/
body{
	background: #fff;
}
#register{background: #fff;}
.content{
	height: 100%;
	padding:12px
}
.head{
	padding: 20px;
	margin-top: 20px;
}
.imgs{
 width: 230px;
height: 80px;
margin: 0 auto;
margin-bottom: 24px;
}
.head .imgs img{
	width: 100%;
	height:100%;

}

.mui-input-row .VerificationInput+.mui-icon{right:34%}

.accountInpt{
	background:url(../../images/wechat_login1.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}

.mobileInpt{
	background:url(../../images/wechat_login3.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.passwordInpt{
	background:url(../../images/wechat_login2.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.confirmpasswordInput{
	background:url(../../images/wechat_login2.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.VerificationInpt{
	background:url(../../images/wechat_login4.png) no-repeat left;
	background-position:left 10px center;
	background-size:20px 20px;
	text-indent:20px;
}
.btnContent .mui-btn1{
    width: 120px;
    height: 40px;
    display: inline-block;
    float: right;
    color: #fff;
    background: #4481e6;
}
.binding{
	text-align: center;
	margin-top:30px;
	
}
.binding .bindingbtn{
    color: #fff;
    background: #007aff;
}



