/*头部个人信息*/
#userInfo{background:#4381e6;margin-top:0}
.mui-table-view:after{background:#4381e6}
	.imgContent{height:92px;width:92px;border-radius:50%;background:#6297ee;float:left;margin-right:10px;margin-top:8px;overflow:hidden}
		#userImg{width:100%;height:100%}
	.companyContent{overflow:hidden}
		.companyContent p{float:left;max-width:83%}
		#userInfo .companyContent .proveImg{width:22px;height:22px;vertical-align:middle;margin-left:6px;float:left}	
		#userInfo p {color:#fff;font-size:16px}
/*账户信息*/
.account{background:#508ae9;overflow:hidden;padding:10px 0px;margin-bottom:15px}
	.account li{float:left;border-right:1px dashed #7facf5;text-align:center}
	.account li:last-of-type{border-right:none}
		.account li p{color:#fff;margin:0;font-size:16px}
		.account li p.bottom{color:#d5e8f9;font-size:14px;margin-top:4px}
/*我的账单*/
.bill{background:#fff;margin-bottom:15px}
	.title{border-bottom:1px solid #ddd;padding:14px 12px;overflow:hidden}
		.title li:first-of-type{font-size:18px}
		.title li:last-of-type{font-size:16px}		
		.title li:last-of-type a {color:#999}
	.status{overflow:hidden}
		.status li{float:left;text-align:center;margin-top:20px}
			.statusContent{position:relative;height:40px;width:40px;margin:0 auto}
				.statusContent img{height:40px;width:40px}
				.statusNum{background:#fe7f32;position:absolute;top:-10px;right:-5px;}
				.statusW{font-size:16px;color:#333;margin-bottom:15px;margin-top:10px}
/*我的订单*/		
.order{background:#fff;margin-bottom:15px;padding-bottom:15px}
	.orderStatus{overflow:hidden;border-bottom:1px solid #ddd;margin-bottom:15px}
		.orderStatus li {margin:14px 12px;padding-right:12px}
		.orderStatus li:first-of-type{border-right:1px dashed #ddd}
			.orderStatus li p{font-size:16px;color:#999}
			.orderStatus li p:first-of-type{margin-bottom:10px}
			.orderStatus li p:last-of-type{margin-bottom:0}
			.orderStatus li:last-of-type .mui-media-body{color:#333;margin-left:15px}	
			.orderStatus .rightInfo{color:#333;margin-left:15px;}
			.orderStatus .orderInfo{font-size:16px}
	.btncontent{text-align:center}
		.btncontent a {font-size:16px;padding:10px;color:#007aff}	
/*我的借款*/
.loan{background:#fff;margin-bottom:15px}			
