/*注册企业2页面*/
body{
	background: #fff;
}
#Preservationenterprise{background: #fff;}
.content{
	height: 100%;
	padding:12px;
	background: #fff;
	margin-top: 50px;
}

.mobileInpt{
	background:url(../../images/wechat_icon11.png) no-repeat left;
	background-position:left 10px center;
	background-size:16px 16px;
	text-indent:20px;
}

.btnContent .mui-btn1{
    width: 120px;
    height: 40px;
    display: inline-block;
    float: right;
    color: #fff;
    background: #4481e6;
}
.binding{
	text-align: center;
	margin-top:30px;
	background: #4481e6;
	
}
.binding .bindingbtn{
    color: #fff;
    background: #007aff;
}

.mui-input-row .VerificationInpt+.mui-icon{right:34%}

